<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applilandia.letmeknow">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppProductivityTheme">

        <activity android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.applilandia.letmeknow"
            android:name=".data.TaskProvider" />

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.BootService" />

        <service android:name=".services.AlarmService" />

    </application>

</manifest>
